
    <div class="col-12 col-md-7">
      <div class="card border-0 text-center">
          <div class="profile-thumbnail mx-auto"style="width: 8rem; height: auto;">
              <img class="card-img-profile"  src="../../../assets/images/identity_card.png" class="card-img-top rounded-circle shadow border-0" alt="Benjamin Portrait">
          </div>
          <div class="card-body">
              <h3 class="h5 card-title mb-2">Benjamin West</h3>
              <span class="card-subtitle text-gray fw-normal">Web Developer</span>
              <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                  <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3 text-decoration-none">
                          <span class="fab fa-facebook-f"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3 text-decoration-none">
                          <span class="fab fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3 text-decoration-none">
                          <span class="fab fa-slack-hash"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3 text-decoration-none">
                          <span class="fab fa-dribbble"></span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>-->